@model Domain.DTOs.VehicleDTO

@{
    ViewData["Title"] = "Araç Silme";
    Response response = ViewBag.Response;
}

<h1>Araç Silme</h1>

<h3>Aracı silmek istediğinize emin misiniz?</h3>
@if (response != null)
{
    <message-box is-success="@response.IsSuccess" message="@response.Message"></message-box>
}
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleBrandName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleBrandName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleModelName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleModelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransmissionTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransmissionTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FuelTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuelTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TireTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TireTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleClassTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleClassTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ColorTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColorTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EngineDisplacement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EngineDisplacement) cc
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Horsepower)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Horsepower) hp
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        @Html.HiddenFor(model => model.Id)
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Araç Listesi</a>
    </form>
</div>