@model WebApp.Areas.Admin.Models.VehicleViewModel

@{
    ViewData["Title"] = "Araç İşlemleri";
    List<SelectListItem> vehicleModels = ViewBag.VehicleModels,
                        vehicleClassTypes = ViewBag.VehicleClassTypes,
                        colorTypes = ViewBag.ColorTypes,
                        fuelTypes = ViewBag.FuelTypes,
                        tireTypes = ViewBag.TireTypes,
                        transmissionTypes = ViewBag.TransmissionTypes
                        ;
}
<h1>Araç İşlemleri</h1>

<p>
    <a asp-action="Create">Yeni Araç</a>
</p>
<form asp-action="Index" class="jumbotron">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="Filter.VehicleModelId" class="control-label"></label>
            @Html.DropDownListFor(model => model.Filter.VehicleModelId, vehicleModels, "Tümü", new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Filter.TransmissionTypeId" class="control-label"></label>
            @Html.DropDownListFor(model => model.Filter.TransmissionTypeId, transmissionTypes, "Tümü", new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Filter.FuelTypeId" class="control-label"></label>
            @Html.DropDownListFor(model => model.Filter.FuelTypeId, fuelTypes, "Tümü", new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Filter.VehicleClassTypeId" class="control-label"></label>
            @Html.DropDownListFor(model => model.Filter.VehicleClassTypeId, vehicleClassTypes, "Tümü", new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Filter.ColorTypeId" class="control-label"></label>
            @Html.DropDownListFor(model => model.Filter.ColorTypeId, colorTypes, "Tümü", new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Filter.TireTypeId" class="control-label"></label>
            @Html.DropDownListFor(model => model.Filter.TireTypeId, tireTypes, "Tümü", new { @class = "form-control" })
        </div>
    </div>
    <div class="from-row">
        <div class="form-group col-md-6">
            <label asp-for="Filter.ProductionYearRange" class="control-label"></label>
            <div class="input-grup">
                @Html.TextBoxFor(model => model.Filter.ProductionYearRange.Start, new { @class = "form-control" })
                @Html.TextBoxFor(model => model.Filter.ProductionYearRange.End, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Filter.EngineDisplacementRange" class="control-label"></label>
            <div class="input-grup">
                @Html.TextBoxFor(model => model.Filter.EngineDisplacementRange.Start, new { @class = "form-control" })
                @Html.TextBoxFor(model => model.Filter.EngineDisplacementRange.End, new { @class = "form-control" })
            </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Filter.HorsepowerRange" class="control-label"></label>
                <div class="input-grup">
                    @Html.TextBoxFor(model => model.Filter.HorsepowerRange.Start, new { @class = "form-control" })
                    @Html.TextBoxFor(model => model.Filter.HorsepowerRange.End, new { @class = "form-control" })
                </div>
                </div>
            </div>
    <button type="submit" class="btn btn-primary">Ara</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().VehicleBrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().VehicleModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().TransmissionTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().FuelTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().ColorTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().ProductionYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vehicles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleBrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransmissionTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FuelTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ColorTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionYear)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detay", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>