@model Domain.Entities.VehicleClassType

@{
    ViewData["Title"] = "Araç Sınıfını Silme";
}

<h1>Araç Sınıfını Silme</h1>

<h3>Araç sınıfını silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Araç Sınıf Tipi</h4>
    <hr />
    <dl class="row">
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.HiddenFor(model => model.Id)
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Araç Sınıf Tipi Listesi</a>
    </form>
</div>
